@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap");

.app {
  background-color: #d3ffe6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Source Serif Pro", serif;
  color: #000;

  padding: 48px;
}

.app-container {
  max-width: 1400px;
  width: 100%;
  min-height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 40px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #363545;
    }

    .sorter {
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      text-align: left;
      padding: 16px;
      display: flex;
      gap: 16px;

      label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
      }

      input[type="radio"] {
        cursor: pointer;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  @media (max-width: 1400px) {
    .content {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 900px) {
    .content {
      grid-template-columns: 1fr;
    }

    .header {
      flex-direction: column;
      gap: 16px;
      text-align: center;

      .title {
        font-size: 32px;
      }

      .sorter {
        padding: 8px;
      }
    }
  }

  @media (max-width: 500px) {
    .header .title {
      font-size: 24px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
